.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  min-height: 100vh;
  background: #fff;
}

.Hero {
  width: 100%;
  background-color: #07051B;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero_top {
  width: calc(100% - 150px);
  display: flex;
  padding: 125px 0 0 150px;
  /* justify-content: space-between; */
  gap: 30px;
  max-height: 537px;
}

.hero_top_div {
  display: flex;
  flex-direction: column;
  gap: 60px;
}


.hero_top_tag {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero_top h1 {
  max-width: 770px;
}

.hero_top p {
  color: #fff;
  max-width: 640px;
  font-weight: 500;
  font-size: 18px;
}


.hero_top button {
  border-radius: 49px;
  border: 1px solid #FFF;
  background: rgb(255, 255, 255, 0.21);

  display: flex;
  width: max-content;
  padding: 21px 68px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 150%; /* 24px */

  cursor: pointer;
  /* filter: drop-shadow(0px 4.287954807281494px 8.575909614562988px #D3DAE2); */
  transition: 0.3s;
}

.hero_top button:hover {
  transform: scale(1.02,1.02);
  filter: drop-shadow(0px 4.287954807281494px 8.575909614562988px #D3DAE2);
}

.hero_top_stats {
  display: flex;
  gap: 60px;
  align-items: center;
}


.hero_top_stats_div {
  display: flex;
  gap: 26px;
  align-items: center;
}

.hero_top_stats_pics img {
  margin-left: -30px;
}

.hero_top_stats_div p {
  font-weight: 500;
  color: rgb(255, 255, 255, 0.6);
}

.hero_top_stats_div p header {
  color: #fff;
}

.hero_top_stats_div hr {
  height: 38px;
  width: 2px;
  border: none;
  background: #fff;
}





.hero_top_testimonial {
  width:  500px;
  height: 588px;
}

.hero_top_testimonial_img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero_top_testimonial article {
  padding: 12px 8px;
  display: flex;
  gap: 8px;
  position: absolute;
  border-radius: 6.575px;
  background: rgba(255, 255, 255, 0.90);
  box-shadow: 0px 62.13018px 81.36094px 0px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(4.4232401847839355px);
  border-radius: 6px;
}

.ronald {
  top: 522px;
  right: 332px;
}


.jenny {
  top: 472px;
  right: 33px;
}

.hero_top_testimonial p {
  color: rgb(27, 28, 32, 0.7);
  font-size: 9px;
  font-weight: 500;
  max-width: 133px;
  line-height: 13px;
}

.hero_top_testimonial header {
  font-size: 9px;
  color: #1B1C20;
}






.hero_companies {
  padding: 60px 185px;
  width: calc(100% - 370px);
  background-color: #F5F6F8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}





/* WHY SECTION */
.WhySection {
  width: calc(100% - 300px);
  padding: 0 150px;
  margin-top: 224px;
  display: flex;
  gap: 32px;
  justify-content: center;
}

.WhySection h3 {
  max-width: 530px;
}

.why_details {
  display: flex;
  flex-direction: column;
  gap: 73px;
}

.why_details div {
  display: grid;
  grid-template-columns: auto auto;
  gap: 48px;
}

.why_details article {
  display: flex;
  flex-direction: column;
  gap: 11px;
  max-width: 300px;
  align-items: flex-start;
}

.why_details span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: #FFF;
  box-shadow: 0px 10px 33.12px 0px rgba(0, 0, 0, 0.08);

}

.why_details header {
  font-size: 20px
}





/* Testimonial Section */
.TestimonialSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc(100% - 300px);
  padding: 0 150px;
  margin-top: 265px;
  gap: 34px;
}

.TestimonialSection h2 {
  max-width: 553px;
}

.testimonial_details_container{
  display: flex;
  border-radius: 20px;
  background: #F1f1f1;
  height: 351px;
  align-items: flex-end;
  justify-content: space-between;
  width: calc(100% - 32px);
  padding: 0 16px;
}

.why_details p {
  color: #979797;
}


.testimonial_details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 56px;
  height: 100%;
}

.testimonial_details p {
  max-width: 480px;
  font-size: 20px;
  line-height: 150%;
  color: #979797;
}

.testimonial_customer {
  display: flex;
  gap: 72px;
  align-items: center;
}

.testimonial_button_container {
  display: flex;
  gap: 24px;
}

.testimonial_details button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 1px solid #292D32;
}

.testimonial_button_container button:nth-child(2) {
  background: #902A9C;
  border: none;
}






/* FOOTER */
.footer {
  width: calc(100% - 300px);
  display: flex;
  flex-direction: column;
  gap: 84px;
  margin-top: 84px;
  border-top: 1px solid #EFF0F6;
  padding: 52px 150px 72px 150px;
}

.footer_top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: inherit;
  align-items: center;
}

.footer_top h2 {
  text-align: center;
}

.footer_top button {
  display: flex;
  width: 221px;
  padding: 14px 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #872191;
  font-size: 16px;
  font-weight: bolder;
  color: #fff;
  border: none;
  font-family: inherit;
}

.footer_bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: inherit;
  align-items: center;
}

.footer_bottom div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
}

.footer_bottom div span {
  display: flex;
  align-items: center;
}

.footer_bottom div span:nth-child(2) {
  font-weight: bold;
  gap: 67px;
}

.footer_bottom div span:nth-child(3) {
  gap: 34px;
}

.footer_bottom hr {
  width: 100%;
  margin-top: 24px;
  height: 1px;
  background: #D9DBE9;
  border: none;
}

.footer_bottom p {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.footer_bottom p a {
  color: #8E239A;
  text-decoration: underline;
}

/* Tablet and Smaller Desktop */
@media (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
