.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  min-height: 100vh;
  background: #fff;
  width: 100%;
  overflow-x: hidden;
}

.Hero {
  width: 100%;
  background-image: url('/Mask.webp');
  background-color: #07051B;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero_top {
  width: calc(100% - 100px);
  display: flex;
  padding: 125px 0 0 100px;
  /* justify-content: space-between; */
  gap: 30px;
  max-height: 537px;
}

.hero_top_div {
  display: flex;
  flex-direction: column;
  gap: 60px;
}


.hero_top_tag {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero_top h1 {
  max-width: 770px;
}

.hero_top p {
  color: #fff;
  max-width: 640px;
  font-weight: 500;
  font-size: 18px;
}


.hero_top button {
  border-radius: 49px;
  border: 1px solid #FFF;
  background: rgb(255, 255, 255, 0.21);

  display: flex;
  width: max-content;
  padding: 21px 68px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 150%; /* 24px */

  cursor: pointer;
  /* filter: drop-shadow(0px 4.287954807281494px 8.575909614562988px #D3DAE2); */
  transition: 0.3s;
}

.hero_top button:hover {
  transform: scale(1.02,1.02);
  filter: drop-shadow(0px 4.287954807281494px 8.575909614562988px #D3DAE2);
}

.hero_top_stats {
  display: flex;
  gap: 60px;
  align-items: center;
}


.hero_top_stats_div {
  display: flex;
  gap: 26px;
  align-items: center;
}

.hero_top_stats_pics img {
  margin-left: -30px;
}

.hero_top_stats_div p {
  font-weight: 500;
  color: rgb(255, 255, 255, 0.6);
}

.hero_top_stats_div p header {
  color: #fff;
}

.hero_top_stats_div hr {
  height: 38px;
  width: 2px;
  border: none;
  background: #fff;
}





.hero_top_testimonial {
  width:  500px;
  height: 588px;

  background-image: url('/Image.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_top_testimonial_img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero_top_testimonial article {
  padding: 12px 8px;
  display: flex;
  gap: 8px;
  position: absolute;
  border-radius: 6.575px;
  background: rgba(255, 255, 255, 0.90);
  box-shadow: 0px 62.13018px 81.36094px 0px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(4.4232401847839355px);
  border-radius: 6px;
}

.ronald {
  display: none;
  top: 522px;
  right: 332px;
}


.jenny {
  top: 472px;
  display: none;
  right: 33px;
}

.hero_top_testimonial p {
  color: rgb(27, 28, 32, 0.7);
  font-size: 9px;
  font-weight: 500;
  max-width: 133px;
  line-height: 13px;
}

.hero_top_testimonial header {
  font-size: 9px;
  color: #1B1C20;
}






.hero_companies {
  padding: 60px 185px;
  width: calc(100% - 370px);
  background-color: #F5F6F8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}





/* WHY SECTION */
.WhySection {
  width: calc(100% - 300px);
  padding: 0 100px;
  margin-top: 224px;
  display: flex;
  gap: 32px;
  min-height: 604px;
  justify-content: center;
}

.WhySection h3 {
  max-width: 530px;
}

.why_details {
  display: flex;
  flex-direction: column;
  gap: 73px;
}

.why_details div {
  display: grid;
  grid-template-columns: auto auto;
  gap: 48px;
}

.why_details article {
  display: flex;
  flex-direction: column;
  gap: 11px;
  max-width: 300px;
  align-items: flex-start;
}

.why_details span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: #FFF;
  box-shadow: 0px 10px 33.12px 0px rgba(0, 0, 0, 0.08);

}

.why_details header {
  font-size: 20px
}





/* Testimonial Section */
.TestimonialSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc(100% - 300px);
  padding: 0 100px;
  margin-top: 265px;
  gap: 34px;

  
}

.TestimonialSection h2 {
  max-width: 553px;
}

.testimonial_details_container{
  display: flex;
  border-radius: 20px;
  background: #F1f1f1;
  height: 351px;
  align-items: flex-end;
  justify-content: space-between;
  width: calc(100% - 32px);
  padding: 0 16px;
}

.why_details p {
  color: #979797;
}


.testimonial_details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 56px;
  height: 100%;
}

.testimonial_details p {
  max-width: 480px;
  font-size: 20px;
  line-height: 150%;
  color: #979797;
}

.testimonial_customer {
  display: flex;
  gap: 72px;
  align-items: center;
}

.testimonial_button_container {
  display: flex;
  gap: 24px;
}

.testimonial_details button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 1px solid #292D32;
}

.testimonial_button_container button:nth-child(2) {
  background: #902A9C;
  border: none;
}






/* FOOTER */
.footer {
  width: calc(100% - 300px);
  display: flex;
  flex-direction: column;
  gap: 84px;
  margin-top: 84px;
  border-top: 1px solid #EFF0F6;
  padding: 52px 100px 72px 100px;
  max-height: 434px;
}

.footer_top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: inherit;
  align-items: center;
}

.footer_top h2 {
  text-align: center;
}

.footer_top button {
  display: flex;
  width: 221px;
  padding: 14px 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #872191;
  font-size: 16px;
  font-weight: bolder;
  color: #fff;
  border: none;
  font-family: inherit;
}

.footer_bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: inherit;
  align-items: center;
}

.footer_bottom div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
}

.footer_bottom div span {
  display: flex;
  align-items: center;
}

.footer_bottom div span:nth-child(2) {
  font-weight: bold;
  gap: 67px;
}

.footer_bottom div span:nth-child(3) {
  gap: 34px;
}

.footer_bottom hr {
  width: 100%;
  margin-top: 24px;
  height: 1px;
  background: #D9DBE9;
  border: none;
}

.footer_bottom p {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.footer_bottom p a {
  color: #8E239A;
  text-decoration: underline;
}

/* Tablet and Smaller Desktop */
@media (max-width: 1300px) {
  .hero_top_stats {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero_top_stats_div {
    margin-left: 30px;
  }

  .hero_top_testimonial p {
    font-size: 9px;
  }



  .TestimonialSection h2 {
    width: 450px;
  }

  .TestimonialSection p {
    font-size: 18px;
  }

  .TestimonialSection header {
    font-size: 24px;
  }
}


@media (max-width: 1100px) {
  .hero_top {
    flex-direction: column;
    max-height: 1021px;
    gap: 45px;
    overflow-y: hidden;
  }

  .hero_top_testimonial {
    width: 100%;
    background-size: contain;
    background-position: center;
  }

  .ronald {
    left: 133.45px;
    right: unset;
    top: 939px;
  }

  .jenny {
    top: 905px;
    right: 15px;
  }

  .WhySection {
    flex-direction: column;
    gap: 64px;
  }
  

  .WhySection img {
    width: 100%;
    object-fit: cover;
  }

  .TestimonialSection {
    justify-content: center;
    gap: 64px;
  }


  .TestimonialSection h2 {
    width: 100%;
    text-align: center;
    max-width: unset
  }

  .testimonial_details_container {
    height: 200px;
  }

  .testimonial_details_container img {
    /* display: none; */
    width: 350px;
    height: 350px;
  }

  .testimonial_details p {
    font-size: 16px;
    line-height: 150%;
  }

  .testimonial_details header {
    font-size: 20px;
  }

  .testimonial_details button {
    height: 20px;
    width: 20px;
    border-radius: 40px;
  }

  .testimonial_button_container svg {
    width: 10px;
    height: 10px;
  }

  .footer div {
    flex-direction:column;
    gap: 40px;
  }

  .footer img {
    align-self: flex-start;
  }

  .footer div p {
    width: 100%;
    flex-direction:column;
    align-items: flex-start;
  }

  .footer div span {
    align-items: flex-start;
    flex-direction:column;
    width: 100%;
    gap: 32px!important;
  }
}


@media (max-width: 850px) {

  .Hero {
    align-items: flex-start;
  }
  .hero_top {
    padding: 100px 0 0 32px;
    max-height: 900px;
    width: calc(100% - 32px)
  }

  .hero_top h1 {
    font-size: 32px
  }

  .hero_top_stats_div {
    /* flex-direction: column; */
    margin: 0;
    gap: 4px;
    flex-wrap: wrap;
  }

  .hero_top_stats_pics img:nth-child(1) {
    margin-left: 0
  }

  .hero_top_stats_div hr {
    display: none;
  }

  .hero_top_testimonial {
    width: 100%;
    height: 403px;
    background-position: center;
  }

  .hero_companies {
    width: calc(100% - 64px);
    padding: 32px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 32px;
    justify-content: center;
    align-items: center;
  }



  .WhySection {
    padding: 0 32px;
    width: calc(100% - 64px);
    margin-top: 68px;
  }

  .WhySection h3 {
    font-size: 32px;
  }

  .why_details div {
    grid-template-columns: auto;
  }

  .WhySection img {
    width: 340px;
    height: 408px;
  }

  .TestimonialSection {
    padding: 68px 24px 0 24px;
    margin-top: 110px;
    width: calc(100% - 48px)
  }

  .testimonial_details_container {
    height: 100px;
  }

  .testimonial_details_container img {
    /* display: none; */
    width: 200px;
    height: 200px;
  }

  .testimonial_details p {
    font-size: 6px;
    line-height: 150%;
  }

  .testimonial_details header {
    font-size: 10px;
  }

  .testimonial_details button {
    height: 13px;
    width: 13px;
    border-radius: 26px;
  }

  .testimonial_button_container svg {
    width: 6px;
    height: 6px;
  }

  .testimonial_details {
    gap: 8px;
  }

  .testimonial_customer {
    gap: unset;
    justify-content: space-between;
  }

  .testimonial_button_container {
    gap: 6px;
  }

  .testimonial_customer header {
    width: 100%
  }

  .footer {
    padding: 68px 24px 0 24px;
    width: calc(100% - 48px);
    max-height: 1036px;
  }

  .footer_bottom {
    padding-bottom: 40px;
  }
}